# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
JWT_SECRET=Ys749cyyk0XAfWnGvBjGEEvPvo6gA3Y47Ri6MQoTRUf
ADMIN_EMAIL=admin@rentaldress.com
ADMIN_PASSWORD=admin123

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://lkrfcxlrnlivtugshqeo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxrcmZjeGxybmxpdnR1Z3NocWVvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgwNjk3NjMsImV4cCI6MjEwMzY0NTc2M30.wRT1CDLB9E9UhmiPzBOGCJrdrT1ILCuL_3orGPVCNsg
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_kUGN2x3vIK_4T4GYuR6-lg_HXr5Lcpg
# Stripe
STRIPE_SECRET_KEY=sk_test_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
